@charset "UTF-8";

body{
    background-color: #90fcd2;
}

h1{
    color: #023f02;
}

h1#principal{
    text-align: center;
    background-color: green;
    color: white;
}

h2{
    color: #019101;
}

.basico{
    color: #019101
}

.intermediario{
    color: #b1b401
}

.avancado{
    color: #910101
}